<div class="section">


<p id="notice"><%= notice %></p>

<p>
  <h2><%= @post.title %></h2>
</p>

<p>
  <%= raw(@post.content) %>
</p>

<p>
  <h5><%= @post.tags %></h5>
</p>

<% if session["user_id"] %>
<%= link_to 'Edit', edit_post_path(@post) %> |
<%= link_to 'Back', posts_path %> |
<%= link_to 'Destroy', post_url, method: :delete, data: { confirm: 'Are you sure?' } %>
<% end %>

</div>

<div class="aside">
<aside>
  <h2>About me</h2>
  <%= image_tag "http://photos3.meetupstatic.com/photos/member/d/8/a/6/member_74935462.jpeg", :width => '250px' %>

  <p>As you may have guessed...<br>my name is Aaron Frey.<br><br> At age 31, I am transitioning into a career as a web app developer. I am currently studying Web Development, Advanced HTML/CSS and User Experience at<br> <a title="The Starter League" href="http://starterleague.com" target="_blank">The Starter League</a><br> (formally known as Code Academy). <br><br>From now until my completion of these courses I will attempt to chronicle the experience here on my blog. Hopefully, you will see as my skill set improves so will this blog. Happy coding everyone!</p>
</aside>

</div>